/* *{
    margin: 0;
    /* padding: 0; */
 
    @media only screen and (max-width:400px) {
        /* .wrapper{
    padding: 60px;
        } */
        .header{
            display: none;
        }
        .container{
            width: 150px;
            height: 150px;
        }
        .met{
            width: 150px;
            height: 150px;
        } 
        .us{
            width: 150px;
            height: 150px;
        }
        .featured {
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            background-color: rgb(192, 245, 245);
            border-top-left-radius: 15%;
            border-top-right-radius: 15%;
            border-bottom-right-radius: 25%;
            border-bottom-left-radius: 25%;
            width: 400px;
        }
    }
    
    
    
    
    body{
        font-family: 'Outfit', sans-serif;
        background-color: rgb(221 240 243 / 75%);
        /* width: 100%;  */
        /* background-image: url('./Images/purple.jpg'); */
        /* background-position: center;
        background-size: cover; */
    }
    .top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .stories{
        display: flex;
        flex-direction: row;
        padding: 10px;
    }
    .hijab{
    /* border-radius: 50%; */
    border-radius: 0px 0px 50% 50%;
    }
    h1{
        color: #240046;
        margin-bottom: 0px;
    }
    .form{
        display: flex;
        flex-direction: row;
        /* width: 300px;
        height: 250px; */
        background-color: azure;
        justify-content: space-around;
    }
    .input{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }
    .featured{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        background-color: rgb(192, 245, 245);
        border-top-left-radius: 15%;
        border-top-right-radius: 15%;
        border-bottom-right-radius: 25%;
        border-bottom-left-radius: 25%;
    }
    .empty{
        margin-bottom: 25px;
        background-color: rgb(192, 245, 245);
        border-top-left-radius: 15%;
        border-top-right-radius: 15%;
        border-bottom-right-radius:0%;
        border-bottom-left-radius: 0%;
    }
    .mon{
        display: flex;
        flex-direction: column;
        background-color: azure;
       
        border-radius: 15%;
    }
    .join{
        width: 90px;
        height: 30px;
        background-color: rgb(12, 80, 54);
    color: rgb(227, 219, 235);
        border-radius: 10px;
        
    }
    p{
        color: rgb(205, 157, 205);
    }
    .logo{
        margin: 10px;
        color: rgb(156, 135, 13);
        width: 52px;
        height: 52px;
        background-color: rgba(48, 13, 48, 0.557);
        border-radius: 0px 0px 50% 50%;
    }
    .container{
        /* background-color: blanchedalmond;
        border-radius: 15px 15px 50% 50%; */
        /* width: 600px; */
        height: 250px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
    h4{
        color: #240046;
    }
    h2{
        color: #240046;
        margin-top: 5px;
        margin-bottom: 0px;
        font-size: 23px;
    }
    .anther{
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
    .header{
        display: flex;
        flex-direction: row;
        height: 70px;
        float: left;
    }
    a{
        text-decoration: none;
    }
    .uli{
        display: flex;
        flex-direction: row;
        float: left;
        justify-content: space-between;
        list-style: none;
        text-decoration: none;
    }
    .lit{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px;
       
    }
    .h2
    a{
        text-decoration: none;
    }
    .us{
        margin-left: 50px;
        display: flex;
        flex-direction: column;
    }
    
    
    #queen{
        color: rgb(103, 222, 222);
        font-size: 15px;
    }
    .quotes{
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        /* background-color: rgb(192, 245, 245); */
    }
    .first{
        display: flex;
        flex-direction: column;
    }
    .second{
        height: 50px;
        width: 236px;
        margin: 20px;
        margin-left: 0px;
        /* padding: 1px; */
    }
    .min{
        margin: 0px;
    }
    .col{
         border-radius: 10px;
        background-color: azure; 
        width: 195px;
        height: 190px;
        margin: 10px;
        overflow: hidden;
        /* text-align: center; */
    }
    .one{
        display: flex;
        flex-direction: column;
        border-radius: 35px;
        background-color: rgb(221 240 243 / 75%);
        margin: 20px;
        justify-content: center;
        padding: 25px;
    }
    .two{
        display: flex;
        flex-direction: column;
        border-radius: 35px;
        background-color: rgb(221 240 243 / 75%);
        margin: 20px;
        justify-content: center;
        padding: 25px;
    }
    .three{
        display: flex;
        flex-direction: column;
        border-radius: 35px;
        background-color: rgb(221 240 243 / 75%);
        margin: 20px;
        justify-content: center;
        padding: 25px;
    }
    .joint{
        width: 90px;
        height: 30px;
        font-size: 12px;
        background-color: rgb(12, 80, 54);
        color: rgb(227, 219, 235);
        border-radius: 10px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        border-color: rgb(12, 80, 54);
        
    }
    .story{
        margin: 0px;
    }
    h3{
        color: #240046;
    }
    h5{
        color: #240046;
    }
    .address{
        display: flex;
        flex-direction: column;
    }
    .my{
        margin-top: 1px;
        margin-left: 15px;
        color: #240046;
    }
    .our{
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
    }
    .no{
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
    }
    .try{
        height: 30px;
    }
    .search{
        color: rgb(221 240 243 / 75%);
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        justify-content: center;
    }
    .add{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 10px;
    }
    .mail{
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
    }
    .before{
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }
    .footer{
        margin-top: 25px;
        display: flex;
    justify-content: center;
    }
    .icons{
        margin-top: 10px;
    }
    .whats{
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
    .another{
        display: flex;
        flex-direction: row;
        margin: 0px;
    }
    .myg{
        margin: 7px;
    }
    .what{
        display: list-item;
       
    }
    .well{
        padding: 20px;
        padding-top: 5px;
    }
     .service{
        display: flex;
        flex-direction: column;
        margin-left: 25px;
    } 
    .abt{
        margin-left: 400px;
        margin-right: auto;
        justify-content: center;
    }
p{
    color: #240046;
    
}

/* styles for screens smaller than 768px */
@media only screen and (max-width: 767px) {
    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }

    .topnav #myLinks {
        display: none;
    }

    /* Style navigation menu links */
    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 13px;
        margin-right: 15px
    }

    /* Add a grey background color on mouse-over */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Style the active link (or home/logo) */
    .active {
        background-color: rgb(208, 232, 232)
    }

    .top{

        display: none;
    }

    .container {
        /* width: 600px; */
        /* height: 250px; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 50px 0px 0px;
        padding: 0px;
    }

    .vid {
        width: 200px;
    }

    .stories {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .us {
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        /* width: 200px; */
    }

    .featured {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        background-color: rgb(192, 245, 245);
        border-top-left-radius: 15%;
        border-top-right-radius: 15%;
        border-bottom-right-radius: 25%;
        border-bottom-left-radius: 25%;
        margin-right: 30px;
        margin-left: 30px;
    }

    h1 {
        font-size: 1.6em;
    }

    .form {
        display: flex;
        flex-direction: row;
        background-color: azure;
        justify-content: space-around;
        padding: 40px;
    }

    .before {
        padding: 20px;
    }

    .add {
        padding-right: 20px;
    }

    .icons {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }
    .abt {
        /* margin-left: auto;
        margin-right: auto; */
        justify-content: center;
    }
  }
  

 /*Tablets styles for screens between 768px and 992px */
 @media only screen and (min-width: 768px) and (max-width: 991px) {
    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }

    .topnav #myLinks {
        display: none;
    }

    /* Style navigation menu links */
    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 13px;
        margin-right: 15px
    }

    /* Add a grey background color on mouse-over */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Style the active link (or home/logo) */
    .active {
        background-color: rgb(208, 232, 232)
    }

    .top {
        display: none;
    }

    .container {
        /* width: 600px; */
        /* height: 250px; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 50px 0px 0px;
        padding: 0px;
    }

    .vid {
        width: 200px;
    }

    .stories {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .us {
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        /* width: 200px; */
    }

    .featured {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        background-color: rgb(192, 245, 245);
        border-top-left-radius: 15%;
        border-top-right-radius: 15%;
        border-bottom-right-radius: 25%;
        border-bottom-left-radius: 25%;
        margin-right: 30px;
        margin-left: 30px;
    }

    h1 {
        font-size: 1.6em;
    }

    .form {
        display: flex;
        flex-direction: row;
        background-color: azure;
        justify-content: space-around;
        padding: 40px;
    }

    .before {
        padding: 20px;
    }

    .add {
        padding-right: 20px;
    }

    .icons {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }
  }
  
  /* Laptop styles for screens larger than 992px */
  @media only screen and (min-width: 992px) {
    .topnav {
        display: none;
  }
}